body > div {
  padding: 20px 0;
}
.underline {
  margin: auto;
  height: 5px;
  width: 125px;
  border-radius: 5px;
  background-color: map-get($foundation-palette, secondary);
}
.hero {
  padding: 10vh 0;
  background-color: map-get($foundation-palette, primary);
  color: $white;
  @media only screen and (max-width: 641px) {
    h1 {
      font-size: 48px;
    }
    h2 {
      font-size: 32px;
    }
  }
}

.services {
  .column {
    margin: 10px 0;
  }
  img {
    border-radius: 20%;
    padding: 10px;
  }
  p {
    margin: auto;
    width: 300px;
  }
}

.about {
  background-color: map-get($foundation-palette, primary);
  color: $white;
  img {
    margin: 10px 0 30px 0;
    border-radius: 20px;
  }
  @media only screen and (max-width: 641px) {
    p {
      text-align: center;
    }
  }
}

.works {
  .card-row {
    margin-top: 20px;
  }
  .card {
    display: inline-block;
    border-radius: 11px;
    box-shadow: 0 2px 24px 8px $light-gray;
    height: 450px;
    padding: 14px;
    img {
      border-radius: 15px;
      background-color: map-get($foundation-palette, primary);
      margin: 10px 0 15px 0;
    }
    p {
      margin: auto;
      width: 70%;
    }
  }
}

.contact {
  padding-bottom: 30px;
  background-color: map-get($foundation-palette, primary);
  color: $white;
  .status {
    padding-top: 10px;
    p {
      margin: auto;
      width: 70%;
    }
  }
  a img {
    background-color: $white;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 5px solid $white;
    transition: border-width 0.1s cubic-bezier(0,.2,1,.42);
  }
  a:hover img {
    border-width: 1px;
  }
  > div > div > h4 {
    padding: 16px 0;
  }

  form {
    input {
      text-align: center;
    }
    input[type="submit"] {
      padding: 7px 30px;
    }
    input, textarea {
      border-radius: 15px;
      border: 0;
      background-color: darken(map-get($foundation-palette, primary), 20);
      color: $white;
    }
    input:focus, textarea:focus {
      background-color: darken(map-get($foundation-palette, primary), 10);
      outline: none !important;
      box-shadow: none;
      border: 0;
    }
  }

  @media only screen and (max-width: 641px) {
    .status {
      padding-top: 20px;
    }
    a img {
      width: 32px;
      height: 32px;
      border-width: 2px;
    }
  }
}
